[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fybrik_python_logging = "==0.1.0"
fybrik_python_vault = "==0.2.0"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
